/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background: radial-gradient(circle, rgb(0, 255, 210) 0%, rgb(0, 177, 211) 50%, rgb(0, 80, 110) 100%);
}

.container{
    color:black;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background:linear-gradient(103.72deg, #7BC75E 22.76%, #61C27F 41.75%, #42BCA7 66.45%, #37BAB7 79.74%);
    color: white;
    text-align: center;
    padding: 40px 0 60px; 
    position: relative;   
}

header h1 {
    font-size: 4.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tagline {
    font-size: 2.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.9;
}

h2 {
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-size: 36px;
}

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: -70px auto;
    display: block;
    border: 3.5px green solid;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#about {
    padding-top: 130px;   /* Espacio para que la imagen no tape el contenido */
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-list li {
    background: #f4f4f4;
    padding: 8px 15px;
    border-radius: 20px;
}

#skills h3{
    margin: 15px 0px 15px 0px;
}

.company{
    font-style: italic;
}

.job h3{
    margin: 15px 0px 15px 0px;
}

/*Linea de tiempo*/
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

/* Línea vertical central */
.timeline::before {
    content: '';
    position: absolute;
    left: 30%;
    top: 0;
    width: 2px;
    height: 100%;
    background: #0078d7;
    transform: translateX(-50%);
}

/* Items de la línea de tiempo */
.timeline-item {
    display: flex;
    /*justify-content: space-between;*/
    margin-bottom: 50px;
    position: relative;
}

/* Fecha (izquierda) */
.timeline-date {
    width: 35%;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    color: #0078d7;
}

/* Contenido (derecha) */
.timeline-content {
    width: 60%;
    padding: 20px;
    background: #46bca0;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.timeline-content ul {
    list-style-type: none; /* Elimina los puntos */
    padding-left: 0;      /* Opcional: quita el padding izquierdo por defecto */
}

/* Punto indicador */
.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #0078d7;
    border-radius: 50%;
    left: 30%;
    top: 15px;
    transform: translateX(-50%);
    z-index: 1;
}

/*COntacto*/

.seccion_contacto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Animaciones */
@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .about-content {
        text-align: center;
    }
    .profile-img {
        width: 120px;
        height: 120px;
    }
    #about {
        padding-top: 80px;
    }

    /* Linea de tiempo */
    .timeline::before {
        left: 250px;
    }
    .timeline-item {
        flex-direction: column;
    }
    .timeline-date,
    .timeline-content {
        width: 85%;
        text-align: left;
    }
    .timeline-content{
        margin-left: 28px;
    }
    .timeline-date {
        margin-bottom: 10px;
    }
    .timeline-item::after {
        left: 250px;
        top:10px;
    }
}